
html {
    background-color: whitesmoke;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #242424;
}

@keyframes load{
    0% {
        translate: -500px 0px;
        opacity: 0;
    }

    100% {
        translate: 0px 0px;
        opacity: 1;
    }
}

@keyframes exit{
    0% {
        translate: 0px 0px;
        opacity: 1;
    }

    100% {
        translate: 500px 0px;
        opacity: 0;
    }
}

.mainbox.exit {
    animation-name: "exit";
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

.mainbox {
    border: 2px solid #242424;
    border-radius: 8px;
    padding: 10vh;
    padding-right: 25vh;
    background-color: white;

    transition: all 1s;
    animation-name: "load";
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.word {
    font-family: "Funnel Display";
    font-size: 8vh;
    margin-bottom: 2vh;
}

.results {
    font-family: "Funnel Display";
    font-size: 2.5vh;
}

.entry {
    font-weight: bold;
}

.wrong {
    text-decoration: line-through;
    color: pink;
}

.correct {
    color: lightgreen;
}

span {
    margin-left: 2vw;
}

button {
    font-family: "Funnel Display";
    background-color: lightyellow;
    border: 1px solid #242424;
    border-radius: 5px;
    padding: 0.3vw 1vw;
    margin-top: 3vw;
    font-size: 3vh;

    transition: all 0.2s ease-in-out;
}